<!DOCTYPE html>
<html>
<title>Emrik & Sannas bröllop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="w3-theme.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="main.css">
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<body>

<div id="app">
    <!-- Header / Home-->
    <div class="w3-display-container w3-wide bgimg" id="start">
        <div class="w3-center top-center">
            <h1 class="w3-jumbo">Emrik & Sanna</h1>
            <p class="date">Har varit gifta sedan</p>
            <p class="date"><b>2019-07-20</b></p>
        </div>
        <div class="w3-center" style="margin-top: 50px; margin-bottom: 25px;">
            <span>{{days}}</span><span> dagar</span>
            <span>{{hours}}</span><span> timmar</span>
            <span>{{minutes}}</span><span> minuter och </span>
            <span>{{seconds}}</span><span> sekunder</span>
        </div>
    </div>

    <!-- Navbar (sticky top) -->
    <div class="w3-top w3-hide-small" style="background-color: #fff;">
        <div class="w3-bar w3-white w3-center w3-opacity-min">
            <a href="#start" style="width:14%" class="w3-bar-item w3-button">Start</a>
            <a href="#images" style="width:14%" class="w3-bar-item w3-button">Se bilder från bröllopet</a>
            <a href="#om" style="width:14%" class="w3-bar-item w3-button">Om oss</a>
            <a href="#info" style="width:14%" class="w3-bar-item w3-button">Information</a>
            <a href="#onskelista" style="width:14%" class="w3-bar-item w3-button">Önskelista</a>
            <a href="#historia" style="width:14%" class="w3-bar-item w3-button">Historia</a>
            <a href="#kontakt" style="width:14%" class="w3-bar-item w3-button">Kontakt</a>
        </div>
    </div>


    <!-- Image gallery -->
    <div class="w3-container w3-padding-32 theme-color-white" id="images">
        <div v-for="image in images">{{image}}</div>
    </div>


    <!-- About -->
    <div class="w3-container w3-padding-32 theme-color-white" id="om">
        <div class="w3-content">
            <h1 class="w3-center"><b>Sanna & Emrik</b></h1>
            <img class="w3-round center" alt="Bild på Sanna och Emrik" src="images/sanna_emrik_3.jpg">
            <h2 class="w3-center">Hälsar er välkomna till vårt bröllop!</h2>
            <!--<p class="center">
                Den 20 juli 2019 har vi varit tillsammans i 3379 dagar och förlovade i 2822.
            </p>-->
            <!--<p>
                När vi träffades tog vi snabba beslut. Från det att vi såg varandra första gången tills vi klassade oss som ett par tog det mindre än en vecka. Från det att vi flyttade ihop till att vi förlovade oss och skaffade katt tog det 2 månader. Från det att vi flyttade till hus och att vi nu gifter oss tog det ca 2 år.
            </p> -->
            <!--<p></p>-->
            <br>
            <p class="w3-center"><a href="#info" class="w3-button w3-black w3-round w3-padding-large w3-large">Detaljer om bröllopsdagen</a></p>
        </div>
    </div>

    <!-- Background photo -->
    <div class="w3-display-container bgimg2">
    </div>

    <!-- Wedding information -->
    <div class="w3-container w3-padding-32 theme-color-white w3-center" id="info">
        <div class="w3-content">
            <h1><b>Information om bröllopsdagen</b></h1>
            <div class="w3-row">
                <div class="w3-half">
                    <h2>När</h2>
                    <p><b>Vigsel - 16:00</b></p>
                    <p>Mingel - 17:00</p>
                    <p>Middag - 18:00</p>
                    <p><b>Party!</b></p>
                </div>
                <div class="w3-half">
                    <h2>Var</h2>
                    <img class="w3-round" alt="torslunda kyrka" style="height:100px;" src="images/torslunda-kyrka.jpg">
                    <p><b>Torslunda kyrka</b><br>
                    Kyrkgatan 3, 386 92 Färjestaden</p>
                </div>
            </div>


            <div class="w3-row">
            <div class="w3-center">
                <h2>Toastmadame</h2>
                <p>Har ni några frågor eller vill hålla tal kontakta vår toastmadame</p>
                <p><b>Sofi Widell</b>: 073 655 64 22</p>
            </div>
            </div>

            <div class="w3-row">
                <h2>Buffé meny</h2>
                <p>Rotfruktsgratäng på ekologiska rotfrukter från Solmarka gård, smaksatt med vitlök och purjolök</p>
                <p>Marinerad tofusallad med grillade grönsaker</p>
                <p>Änglamats veganburgare smaksatta med persilja och chili</p>
                <p>Mexikansk bönsallad</p>
                <p>Vitlöksmarinerade champinjoner</p>
                <p>Ugnsbakade gulbetor med rostade pinjenötter</p>
                <p>Grönsallad med färska örter och sticklök</p>
                <p>Harrissasås</p>
                <p>Melon- och papayasals</p>
                <p>Nybakat surdegsbröd och hoummus</p>
            </div>
        </div>
    </div>

    <!-- Background photo -->
    <div class="w3-display-container bgimg3">   
    </div>



    
    <!-- Wedding information -->
    <div class="w3-container w3-padding-32 theme-color-white w3-center" id="onskelista">
        <div class="w3-content wishlist">
            <h1><b>Önskelista</b></h1>
            <h2>Den bästa presenten är ju förstås att ni kommer till vårt bröllop.</h2>
            <div v-for="wish in wishlist">
                <div class="w3-half">
                   <h3>
                        <!--<button 
                            v-if="wish.id !== 'bidrag'" type="button" class="btn btn-xs btn-default"
                            v-bind:class="{ 'btn-success': wish.selected, 'btn-info': !wish.selected }"
                            v-on:click="showDialog(wish.id)">
                            <span v-if="wish.selected">Tingad</span>
                            <span v-if="!wish.selected">Tinga</span>
                        </button>-->
                        <span>{{wish.title}}</span>
                    </h3>
                    <span v-html="wish.description"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Background photo -->
    <div class="w3-display-container bgimg4">
    </div>

    <!-- About -->
    <div class="w3-container w3-padding-32 theme-color-white" id="historia">
        <div class="w3-content">
            <h1 class="w3-center"><b>Sanna & Emrik</b></h1>
            <div class="w3-row">
                <h2 class="w3-center">22 april 2010</h2>
                <div class="w3-half">
                    <p>
                        <b>Sanna</b> : Det var första dagen vi sågs, jag kommer ihåg hur modig jag tyckte du var som kom och hälsade på mig. Vi hade haft kontakt i någon vecka men jag hade ingen aning om hur du såg ut eller vem du egentligen var. Tänk att du tog bussen till okänd mark och till någon som du aldrig träffat eller ens sett. Nervositeten när jag väntade på bussen var outhärdlig, hur skulle jag känna igen vem du var om fler hoppade av på samma plats? 
                    </p>
                </div>
                <div class="w3-half small-up-align-right">
                    <p>
                    <b>Emrik</b> : Tydligen var jag verkligen modig (alternativt väldigt nervös eller något annat) för inte bara åkte jag till okänd mark och träffade någon helt ny utan jag hälsade även denna främlingen (nja, inte helt, men ändå) med en bestämd puss på munnen! Troligen var det mest nervositet om man ska döma efter att klantigt nog slog ha slagit i huvudet i hatthyllan hemma på Byggmästaregatan när jag först träffade de blivande svärföräldrarna.
                    </p>
                </div>
            </div>
            <div class="w3-row">
                <h2 class="w3-center">28 april 2010</h2>
                <p>Efter att ha känt varandra i hela 6 dagar fanns det bara en väg framåt, tillsammans. Vi ändrade vår status på Facebook...</p>
                <!--<div class="w3-half">
                    <p>
                        <b>Sanna</b> : 
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <b>Emrik</b> : 
                    </p>
                </div>-->
            </div>
            <div class="w3-row">
                <h2 class="w3-center">Augusti 2011</h2>
                <p>Äntligen kom tillfället då vi kunde flytta ihop, ut på nya äventyr tillsammans. Lyckan vi kände när vi hämtade ut nyckeln till lägenheten och förvirringen som uppstod när vi skulle hitta till lägenheten är svår att glömma.</p>
                <!--<div class="w3-half">
                    <p>
                        <b>Sanna</b> :
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <b>Emrik</b> :
                    </p>
                </div>-->
            </div>
            <div class="w3-row">
                <h2 class="w3-center">Oktober 2011</h2>
                <p>Detta var månaden som vi förlovade oss och utökade familjen när vi hittade Sigward.</p>
                <div class="w3-half">
                    <p>
                        <b>Sanna</b> : Nu hade vi ju bott tillsammans i hela 2 månader. Jag kommer ihåg att vi tidigare hade pratat om förlovning och husdjur. Men att vi ville bo tillsmammans ett tag innan vi gjorde något förhastat. Vid detta tillfälle tyckte vi att 2 månader räckte gott och väl för att lära känna varandra till den grad att vi visste vi ville uppfostra en katt tillsammans. Tror det gick sådär med uppfostrandet av katten, känns oftast som att det är den som styr över oss...
                    </p>
                </div>
                <div class="w3-half small-up-align-right">
                    <p>
                        <b>Emrik</b> : Jag minns att jag tyckte att en förlovning vore en riktigt bra födelsedagspresent. Osäker som jag var då så "föreslog" jag en förlovning genom att skriva en lapp med frågeställningen "Vill vi förlova oss?"... och nu nära 8 år senare så händer det grejer, snacka om spontanitet!
                    </p>
                </div>
            </div>
            <div class="w3-row">
                <h2 class="w3-center">September 2014</h2>
                <p>Nu var vi inte längre studenter och kunde inte bo kvar i vår gamla lägenhet. Vi hittade en härlig lägenhet som var stor och rymlig för oss två. Eller ja tre, Sigward tog ju plats han också, han hade till och med en egen toalett i lägenheten.</p>
                <!--<div class="w3-half">
                    <p>
                        <b>Sanna</b> : 
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <b>Emrik</b> :
                    </p>
                </div>-->
            </div>
            <div class="w3-row">
                <h2 class="w3-center">Januari-april 2017</h2>
                <p>Vid denna tidpunkt hade vi kollat på en del hus men inget som kändes riktigt rätt för oss. När vi i januari var på husvisning såg vi det andra huset vi gillade, men första om vi budade på. Tyvärr blev vi överbudade och försökte glömma huset i hässlegården. Men så en dag hörde mäklaren av sig och sa att vi hade högsta budet. Om vi fortfarande ville ha huset var det vårt att köpa.</p>
                <p>När vi skrev på kontraktet la vi märke till inflyttningsdatumet, det var den <b>28/4, vår dag</b>.</p>
                <!--<div class="w3-half">
                    <p>
                        <b>Sanna</b> : 
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <b>Emrik</b> :
                    </p>
                </div>-->
            </div>
            <div class="w3-row">
                <h2 class="w3-center">20 Juli 2019</h2>
                <!--<p></p>
                <div class="w3-half">
                    <p>
                        <b>Sanna</b> : 
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <b>Emrik</b> :
                    </p>
                </div>-->
            </div>
        </div>
    </div>

    <!-- RSVP section -->
    <div class="theme-color-light w3-container w3-padding-32 theme-color w3-center w3-wide" id="kontakt">
        <h1>Vi hoppas att ni kan komma!</h1>
        <p class="w3-large">Svara senast <b>20 maj</b> om ni kommer eller ej. För frågor kontaka Emrik eller Sanna</p>
        <p class="w3-small">Sanna: Tel. 076-8137144 alt. <a href="mailto:sannawidell@gmail.com">sannawidell@gmail.com</a></p>
        <p class="w3-small">Emrik: Tel. 076-8346776 alt. <a href="mailto:emrik.lundstrom@gmail.com">emrik.lundstrom@gmail.com</a></p>
        <br><br>
        <p class="w3-large">Vill ni hålla tal eller har andra funderingar kan ni kontakta vår toastmadame <b>Sofi Widell:</b> 073-6556422</p>
    </div>
</div>
</body>
<script src="wedding.js"></script>
</html>