<div id="gallery-root" class="w3-container w3-padding-32 theme-color-white container-margin" v-if="images && images.length">
    <div class="gallery">
        <div
            v-for="(image, index) in images"
            class="image-container"
            :class="{active: index === activeIndex}"
            >
            <img
                v-on:click="viewImage(index)"
                class="slide"
                :class="{active: index === activeIndex, portrait: image.indexOf('portrait') !== -1}"
                :src="'images/' + folder + '/' + image"
            >
            <button v-if="index === activeIndex" class="previous" v-on:click="viewPreviousImage()"><i class="arrow"></i></button>
            <button v-if="index === activeIndex" class="next" v-on:click="viewNextImage()"><i class="arrow"></i></button>
    </div>
        <button
            class="slide load-image-button"
            v-on:click="getImages()"
            v-if="!(images.length >= totalNrOfImages)"
            :class="{'break-row': (activeIndex + 1) % 5 === 0}"
        >
        Se fler bilder
        </button>
    </div>

    <div class="image-modal-container" v-on:click="closeImageModal()">
        <div class="image-modal">
            <button v-on:click="closeImageModal()">
                <span class="previous" ><i class="arrow"></i></span>
                <span class="next"><i class="arrow"></i></span>
            </button>

            <!-- src is set by gallery script -->
            <img>
        </div>
    </div>
</div>