.w3-container {
    height: auto;
}

.container-margin {
    margin-bottom: 200px;
}

.gallery {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .gallery {
        width: 66%;
    }
}
.image-container {
    position: relative;
    display: inline-block;
    width: calc(20% - 4px);
    box-shadow: 1px 1px 6px 1px rgb(167, 165, 165);
    margin: 4px 4px 0 0;
    text-align: center;
}
.slide {
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0.55;
    width: 100%;
}

.slide.load-image-button {
    display: inline-block;
    width: calc(20% - 4px);
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    box-shadow: 1px 1px 4px gray;
    border-radius: 2px;
    background-color: white;
    border: none;
    padding: 0;
    margin-top: 4px;
}

@media screen and (max-width: 768px) {
    .slide.load-image-button {
        width: 100%;
        margin-top: 8px;
    }
}

.slide.load-image-button.break-row {
    margin-top: 8px;
}

.active {
    width: 100%;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
}

img.portrait {
    width: 40%;    
}

.active img.portrait {
    width: 40%;
}

.previous, .next {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
}

.previous {
    left: 9px;
}

.next {
    right: 9px;
}

.previous i,
.next i {
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 12px;
    opacity: 0.75;
}

.previous i {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.next i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.image-modal-container {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    text-align: center;   
    height: 100%;
    top: 0;
    width: 100%;
    /* z-index is greater than that of the navbar (which is 1) */
    z-index: 2;
}

.image-modal {
    position: relative;
    height: calc(100% - 10px - 10px);
    margin: 10px;
}

.image-modal img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.image-modal button {
    box-sizing: border-box;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 22px;
}
