<div class="w3-container w3-padding-32 theme-color-white container-margin" id="images" v-if="images && images.length">
    <div class="w3-center">
        <h1><b>Bilder från vårt bröllop</b></h1>
        <i>Klicka på knappen eller på den sista bilden för att ladda fler bilder.</i>
    </div>
    <div class="gallery">
        <div v-for="(image, index) in images" class="image-container" :class="{active: index === activeIndex}">
            <img
                v-on:click="viewImage(index)"
                class="slide"
                :class="{active: index === activeIndex}"
                :src="'images/from-the-wedding/' + image"
            >
            <button v-if="index === activeIndex" class="previous" v-on:click="viewPreviousImage()"><i class="arrow"></i></button>
            <button v-if="index === activeIndex" class="next" v-on:click="viewNextImage()"><i class="arrow"></i></button>
    </div>
        <button
            class="slide load-image-button"
            v-on:click="getImages()"
            v-if="!(images.length >= totalNrOfImages)"
            :class="{'break-row': (activeIndex + 1) % 5 === 0}"
        >
        Se fler bilder
        </button>
    </div>
</div>